.quiz-title{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 25px;
}

.question-card{
    width: 50%; 
    margin:auto; 
    box-shadow: 0px 2px 5px -2px;
}

.quiz-progress{
    height: 7px !important; 
    border-radius: 0px !important;
}

.option{
    font-size: 18px;
}

.option.selected {
    background-color: #cfe2ff;
    border: 1px solid #0b63e7;
}

.option:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.quiz-next-btn-active{
    background-color: #0b63e7ff; 
    color: white
}

.quiz-prev-btn-active{
    background-color: white !important; 
    border:none !important; 
    color: #0b63e7ff !important;
}

.quiz-prev-btn-disabled{
    background-color: white !important; 
    border:none !important; 
    color: rgb(162, 160, 160) !important;
}

.quiz-prev-btn-disabled:hover{
    cursor: default !important;
}