.quiz-title{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 25px;
}

.question-card{
    width: 50%; 
    margin:auto; 
    box-shadow: 0px 2px 5px -2px;
}

.quiz-progress{
    height: 7px !important; 
    border-radius: 0px !important;
}

.option:hover{
    background-color: #eaeaea;
    cursor: pointer;
}