.input-wrapper{
    height: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 40%;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
}

.input-wrapper input{
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
    border: none;
}

.input-wrapper input:focus{
    outline: none;
}

.input-wrapper i{
    color: #0C6EFC;
}